.book-preview {
  text-align: center;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-preview h4 {
  text-transform: capitalize;
  color: black;
}

.book-preview img {
  max-width: 150px;
}
.book-preview {
  position: relative;
  overflow: hidden; /* כדי שלא ייחתך החוצה */
}

.sale-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e53935;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  border-bottom-left-radius: 0.5rem;
  z-index: 10;
}
mark {
  background-color: transparent;
  color: #3c657b;
  font-weight: 600;
}
li.on-sale {
  background-color: aliceblue;
}
