.review-list {
  display: grid;
  justify-self: self-start;

  box-sizing: border-box;
  padding: 0;
  list-style: none;
  grid-auto-rows: auto;
}
.review {
  display: grid;
  grid-template-columns: 150px 150px 150px auto;
  gap: 10px;
  justify-self: self-start;
  border-bottom: 1px solid #4dd0e1;
}
.review-fullname {
  font-family: Georgia, serif;
  font-style: italic;
}
.review-rating {
  align-self: center;
}
.delete-review-btn {
  cursor: pointer;
}

@media (max-width: 600px) {
  .review {
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    justify-self: auto;
  }
  .review p {
    font-size: 16px;
  }
}
